* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    display: block;
    background-color: lightgray;
}

.main-content {
    min-height: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ================================ Forms errors ================================ */
.errors {
    margin-top: 0;
    color: red;
    font-size: 12px;
    text-align: left;
    list-style: none;
}

/* Thanks to this value does not change the distance between the boxes of the login or
signup form after displaying an error under the box */
.form-box-error {
    height: 40px;
}


/* ================================ Flash messages ================================ */
.success,
.danger,
.info {
    margin: auto;
    display: flex;
    height: 2.7rem;
    flex: 1;
    max-width: 75rem;
    font-size: 1.1rem;
    border-radius: 5px;
    list-style: none;
    margin-top: 4.8rem;
    margin-bottom: -6rem;
    justify-content: center;
    align-items: center;
    position: relative;
}

.success {
    color: rgb(24, 109, 41);
    border-left: 5px solid green;
    background-color: rgb(185, 224, 189);
}

.danger {
    color: rgb(180, 53, 53);
    border-left: 5px solid red;
    background-color: rgb(238, 201, 201);
}

.info {
    color: rgb(22, 106, 145);
    border-left: 5px solid rgb(5, 165, 240);
    /* background-color: rgb(189, 222, 238); */
    background-color: lightskyblue;
}

.flash-close-button {
    position: absolute;
    right: 0.6rem;
    font-size: 2.2rem;
    cursor: pointer;
}


/* ================================ Posts ================================ */
.home-page-posts-container {
    display: flex;
    gap: 10rem;
    margin-top: 7rem;
    width: 83%;
    min-height: 100vh;
}

.home-page-posts-container a {
    text-decoration: none;
    color: black;
}

.home-page-posts-container a:hover {
    color: steelblue;
}

.posts-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
    border-radius: 5px;
}

.advertisement-container {
    border: 1px solid steelblue;
    border-radius: 5px;
    width: 100%;
    height: 40rem;
    flex: 1;
}

.post-box {
    display: flex;
    height: 150px;
    border-radius: 5px;
    background-color: white;
    gap: 0.1rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.img-div {
    width: 200px;
    height: 100%;
    /* object-fit: cover; */
}

.img-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 0 0 5px ;
}

.title-date-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.date-div {
    border-top: 1px solid black;
    display: flex;
    justify-content: flex-end;
    font-style: italic;
}

#post-title {
    font-size: 1.5rem;
}