* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: block;
}

.main-content {
    background-color: lightgray;
    min-height: 1100px;
    display: flex;
    justify-content: center;
}


.errors {
    margin-top: 0;
    color: red;
    font-size: 12px;
    text-align: left;
    list-style: none;
}

/* Thanks to this value does not change the distance between the boxes of the login or
signup form after displaying an error under the box */
.form-box-error {
    height: 40px;
}