.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 68px;
    background-color: steelblue;
    display: flex;
    justify-content: center;
    padding: 0 10rem;
    z-index: 999;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    width: 100%;
}

nav a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

nav a:hover {
    color: orange;
    transition: all 0.2s ease 0s;
}

nav li {
    list-style: none;
}

.logo {
    flex: 1;
}

.logo a {
    font-size: 1.8rem;
    font-family: "Purisa", Geneva, Tahoma, sans-serif;
    font-weight: 900;
    color: orange;
}

.middle-menu {
    display: flex;
    gap: 2.8rem;
    flex: 2;
    justify-content: center;
}

.right-menu {
    justify-content: flex-end;
    flex: 1;
    display: flex;
    gap: 2rem
}

.toggle-button {
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    display: none;
}

.signup-link {
    border: 2px solid lightskyblue;
    padding: 0.5rem;
    border-radius: 35px;
}

.signup-link:hover {
    background-color: lightskyblue;
    color: black;
    transition: all 0.2s ease 0s;
}

/* Responsive navbar */

@media (max-width: 1100px) {
    .header {
        padding: 0 1rem;
    }
}

@media (max-width: 800px) {
    .header {
        padding: 0 1rem;
    }

    .navbar-links {
        display: none;
    }

    .toggle-button {
        display: block;
    }

    .toggle-button:hover {
        color: orange;
    }
}