<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,700;1,100;1,200;1,500;1,700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='signup&login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='user/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='posts_page.css') }}">

    <title>Flask Blog</title>
</head>

<body>
    {% include "navbar.html" %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                <li class="{{ category }}">
                    <span class="flash-close-button" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="main-content">

        {% block content %}{% endblock content %}

        {% if home_page %}
        <div class="home-page-posts-container">

            <div class="posts-container">

                {% for post in posts %}
                <div class="post-box">
                    
                    <div class="img-div">
                        <img src="" alt="">
                    </div>

                    <div class="title-date-div">
                        <div class="title-div">
                            <a href="{{ url_for('posts_page', id=post.id) }}" id="post-title">{{ post.title }}</a>
                        </div>

                        <div class="date-div">
                            <p id="post-date">{{ post.date_posted.date() }}</p>
                        </div>
                    </div>

                </div>
                {% endfor %}

            </div>

            <div class="advertisement-container"></div>

        </div>
        {% endif %}

    </div>

    {% include "footer.html" %}

    <script src="https://kit.fontawesome.com/05fad39b46.js" crossorigin="anonymous"></script>
</body>

</html>