<footer class="footer">

    <div class="footer-upper">
        <div class="footer-links">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
            </ul>

            <ul>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <div class="footer-icons">
            <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://pl.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://pl-pl.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
        </div>

        <div class="footer-up-arrow">
            <a href="#top"><i class="fa-solid fa-arrow-up"></i></a>
            <p>UP</p>
        </div>
    </div>


    <div class="copyrights">
        <p>Krzysztof Rozmus &copy 2023. All rights reserved</p>
    </div>
</footer>
