<footer>
    <div class="icons-and-links">
        <ul class="links-to-icons">
            <li><a target="_blank" href="https://icons8.com/icon/114450/twitter-circled">Twitter Circled icon by
                    Icons8</a></li>
            <li><a target="_blank" href="https://icons8.com/icon/9itS6I2x2vV2/youtube">Youtube icon by Icons8</a></li>
            <li><a target="_blank" href="https://icons8.com/icon/xuvGCOXi8Wyg/linkedin">LinkedIn icon by Icons8</a></li>
            <li><a target="_blank" href="https://icons8.com/icon/AZOZNnY73haj/github">GitHub icon by Icons8</a></li>
        </ul>

        <ul class="icons">
            <li>
                <a target="_blank" href="https://twitter.com/">
                    <img src="https://img.icons8.com/color/96/null/twitter-circled--v1.png" />
                </a>
            </li>

            <li>
                <a target="_blank" href="https://www.youtube.com/">
                    <img
                        src="https://img.icons8.com/external-prettycons-flat-prettycons/94/null/external-youtube-multimedia-prettycons-flat-prettycons.png" />
                </a>
            </li>

            <li>
                <a target="_blank" href="https://pl.linkedin.com/">
                    <img src="https://img.icons8.com/fluency/96/null/linkedin.png" />
                </a>
            </li>

            <li>
                <a target="_blank" href="https://github.com/">
                    <img src="https://img.icons8.com/fluency/96/null/github.png" />
                </a>
            </li>
        </ul>
    </div>

    <p>Krzysztof Rozmus &copy 2023. All rights reserved.</p>

</footer>