<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='signup&login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='posts_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='user_dashboard.css') }}">



    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Flask Blog</title>
    {% endif %}
</head>

<body>
    {% include "navbar.html" %}

    <div class="body">
        <div class="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul>
                {% for category, message in messages %}
                <li class="flash-msg-{{ category }}">
                    <span class="flash-msg-close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        {% block content %}
        {% endblock content %}

        {% if home_page %}
        <div class="home-page-posts">
            <div class="posts-container">
                {% for post in posts %}

                <div class="post-box">

                    <div class="image">
                        <img src="{{ image_file }}" alt="">
                    </div>

                    <div class="post">
                        <div class="post-title">
                            <a href="{{ url_for('posts_page', id=post.id)}}">{{ post.title }}</a>
                        </div>
                        <div class="post-date">{{ post.date_posted }}</div>
                    </div>
                    
                </div>

                {% endfor %}
            </div>

            
            <div class="advertisement-container">
                <div class="adv-box">
                    <h3>Advertisement 1</h3>
                </div>

                <div class="adv-box">
                    <h3>Advertisement 2</h3>
                </div>

                <div class="adv-box">
                    <h3>Advertisement 3</h3>
                </div>

                <div class="adv-box">
                    <h3>Advertisement 4</h3>
                </div>
            </div>
            {% endif %}

        </div>
    </div>

    {% include "footer.html" %}

</body>

</html>