<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='signup&login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='user_dashboard.css') }}">



    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Flask Blog</title>
    {% endif %}
</head>

<body>   
    {% include "navbar.html" %}

    <div class="body">

        <div class="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <ul>
                    {% for category, message in messages %}
                    <li class="flash-msg-{{ category }}">
                        <span class="flash-msg-close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
        </div>

        {% block content %}
        {% endblock content %}
    </div>  

    {% include "footer.html" %}
    
</body>

</html>