{% extends "base.html" %}

{% block content %}

<div class="post-page-div">

    <h1>{{ post.title }}</h1>

    <div class="post-page-date">
        <p>{{ post.date_posted.date() }}</p>
    </div>

    <div class="post-page-content">
        <p>{{ post.content | safe }}</p>
    </div>

</div>


<div class="add-post-comments">
    <h2>Add comment</h2>

    <form method="post">
        {{ form.hidden_tag() }}

        {{ form.content(class="add-post-comments") }}


        {{ form.submit(class="submit-comment-button") }}
    </form>

    {{ ckeditor.load() }}
    {{ ckeditor.config(name='content') }}
</div>

<div class="post-comments">
    <h2>Comments</h2>
    
    {% for comment in comments %}

    <div class="comment-content">
        <p>{{ comment.content | safe }}</p>
    </div>

    {% endfor %}
</div>



{% endblock content %}