{% extends "base.html" %}

{% block content %}

<div class="general">

    <div class="jeden">        
        <h1>User Dashboard</h1>
    </div>

    <div class="dwa">  
              
        <div class="user-account">
            <h2>Account</h2>

            <div class="account-logo"></div>

            <ul class="account-menu">
                <li><a href="">Profile</a></li>
                <li><a href="">Settings</a></li>
                <li><a href="">Search</a></li>
            </ul>
        </div>

        <div class="user-main">
            <h2></h2>
        </div>
        
    </div>

</div>

{% endblock content %}