{% extends "base.html" %}

{% block content %}

<div class="general">

    <div class="jeden">
        <h1>User Dashboard</h1>
    </div>

    <div class="dwa">

        <div class="user-account">
            <h2>Account</h2>

            <div class="account-logo"></div>

            <ul class="account-menu">
                <li><a href="">Profile</a></li>
                <li><a href="">Settings</a></li>
                <li><a href="">Search</a></li>
            </ul>
        </div>

        {% if current_user.is_authenticated %}
        <div class="user-main">

            <div class="user-profile">
                <div class="user-profile-labels">
                    <h3>Username:</h3>
                    <h3>Email:</h3>
                    <h3>Date joined:</h3>
                </div>

                <div class="user-profile-data">
                    <p>{{ current_user.username }}</p>
                    <p>{{ current_user.email }}</p>
                    <p>{{ current_user.date_joined }}</p>
                </div>
            </div>

        </div>
        {% endif %}

    </div>

</div>

{% endblock content %}