{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<div class="auth-container">

    <h1 class="title">Reset password</h1>
    

    <form class="login-form" method="post">
        {{ form.hidden_tag() }}
        <p>Enter the email to which we will send the password reset instructions.</p>        

        {{ render_field(form.email, class="form-field password") }}
        {{ form.submit(class="login-button") }}
    </form>

</div>
{% endblock content %}