{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}

<div class="general">

    <div class="user-dashboard-title">
        <h1>User Dashboard</h1>
    </div>

    <div class="dwa">

        <div class="user-account">
            <h2>Account</h2>

            <div class="account-logo">
                <img class="profile-picture" src="{{ pic_file }}" alt="">
            </div>

            <ul class="account-menu">
                <li><a href="{{ url_for('user_dashboard') }}">Profile</a></li>
                <li><a href="{{ url_for('settings', id=current_user.id) }}">Settings</a></li>
                <li><a href="">Search</a></li>
            </ul>
        </div>


        <div class="user-main">

            <form method="POST">
                {{ form.hidden_tag() }}

                <div class="user-change-credentials">
                    <p class="update-user-form-label">Change user data</p>

                    {{ render_field(form.username.label, class="user-data-labels") }}
                    {{ render_field(form.username, class="form-field", placeholder=current_user.username,
                    minlength="3")}}

                    <div class="email-and-confirmpassword">
                        {{ render_field(form.email.label, class="user-data-labels") }}
                        {{ render_field(form.email, class="form-field", placeholder=current_user.email) }}
                    </div>
                    {{ form.submit(class="update-user-button") }}
                </div>
            </form>

            <form action="" method="POST">
                {{ form.hidden_tag() }}

                <div class="user-change-password">
                    <p class="update-user-form-label">Change password</p>

                    {{ render_field(change_user_password.password.label, class="user-data-labels") }}
                    {{ render_field(change_user_password.password, class="form-field") }}

                    <div class="email-and-confirmpassword">
                        {{ render_field(change_user_password.confirm_password.label, class="user-data-labels") }}
                        {{ render_field(change_user_password.confirm_password, class="form-field") }}
                    </div>

                    {{ change_user_password.submit(class="update-user-button") }}
                </div>
            </form>

            <form action="" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                <div class="user-change-logo">
                    <p class="update-user-form-label">Change profile picture</p>

                    <div>
                        {{ render_field(profile_pic_form.picture, class="form-field") }}
                        {{ profile_pic_form.submit_pic(class="update-user-button") }}
                    </div>
                </div>
            </form>

            <div class="user-delete-account">
                <p class="update-user-form-label">Delete account</p>
                <a class="update-user-button" id="delete-account-button" href="">Delete</a>
            </div>


        </div>

    </div>
</div>

{% endblock content %}