* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    margin: 0 350px;
}



/* ----------------------------- Posts on Home Page ----------------------------- */
.post-container {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);  
    background-color: white;
    margin-bottom: 30px;
    padding: 10px;
    height: 200px;  
}

.post-title {
    font-weight: 700;
    margin-bottom: 9px;
}

.post-title h1 {
    font-size: 25px;
    padding: 0;
}

.post-content {
    margin-bottom: 15px;
    overflow: scroll;
    height: 115px;
}

.post-author-and-date {
    font-size: 15px;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 3px;
    margin-bottom: 15px;
}

.post-date {
    font-style: italic;
    float: right;
}

.form div {
    margin-top: 20px;
}

.post-title {
    height: 30px;
    width: 700px;
    font-size: 20px;
}