nav a {
    color: white;
    text-decoration: none;
    font-size: 19px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgb(80, 80, 80);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.navbar-title {
    margin-left: 250px;
    font-size: 28px;
    font-weight: 700;
    font-family: "Purisa", Geneva, Tahoma, sans-serif;
}

.navbar-left-container {
    flex: 1;
}

.navbar-center-container {
    flex: 2;
    text-align: center;
}

.navbar-center-container a {
    margin-left: 18px;
    margin-right: 18px;
}

.navbar-right-container {
    flex: 1;
    text-align: end;
}

.navbar-center-container a:hover,
.dashboard-link:hover {
    color: dodgerblue;
    transition: all 0.2s ease 0s;
}

.login-link,
.logout-link {
    margin-left: 10px;
    margin-right: 250px;
    border: 2px solid limegreen
}

.login-link {
    border: 2px solid limegreen
}

.logout-link {
    border: 2px solid orange
}


.signup-link {
    border: 2px solid dodgerblue
}

.login-link,
.signup-link,
.logout-link {
    border-radius: 30px;
    padding: 6px 10px 6px 10px;
}

.login-link:hover,
.signup-link:hover,
.logout-link:hover {
    transition: all 0.2s ease 0s;
}

.login-link:hover {
    background-color: limegreen;
    border-color: limegreen;
    color: white;
}

.signup-link:hover {
    background-color: dodgerblue;
    border-color: dodgerblue;
    color: white;
}

.logout-link:hover {
    background-color: orange;
    border-color: orange;
    color: white;
}


/* -------------------- Flash messages -------------------- */

.flash-msgs-container {
    margin-top: 65px;
    height: 45px;
}

.flash-msg-success,
.flash-msg-danger,
.flash-msg-info {
    border-radius: 5px;
    padding: 12px;
    list-style: none;
    width: 70%;
    margin: auto;
    position: relative;
    display: flex;
}

.flash-msg-success {
    color: rgb(24, 109, 41);
    border-left: 5px solid green;
    background-color: rgb(185, 224, 189);
}


.flash-msg-danger {
    color: rgb(180, 53, 53);
    border-left: 5px solid red;
    background-color: rgb(238, 201, 201);
}

.flash-msg-info {
    color: rgb(22, 106, 145);
    border-left: 5px solid rgb(5, 165, 240);
    background-color: rgb(189, 222, 238);
}

.flash-msg-close-btn {
    cursor: pointer;
    color: gray;
    font-size: 25px;
    font-weight: bold;
    float: right;
    line-height: 45px;
    transition: 0.3s;
    margin: 0px 8px 0px 0px;
    position: absolute;
    right: 0;
    bottom: 1px;
}