<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='user_dashboard.css') }}">



    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Flask Blog</title>
    {% endif %}

</head>

<body>
    {% include "navbar.html" %}

    {% for post in posts %}
    <div class="home-page-container">
        <div class="post-pic-container">
            <img class="post-picture" src="{{ image_file }}" alt="">
            <p class="posts">Posts: 23</p>
        </div>
        <div class="post-container">

            <div class="post-title">
                <h1>{{ post.title }}</h1>
                <div>
                    <button class="edit">Edit</button>
                    <button class="delete">Delete</button>
                    
                </div>
            </div>

            <div class="post-author-and-date">
                <small>Author: {{ post.author.username }}</small>
                <small class="post-date">{{ post.date_posted }}</small>
            </div>

            <div class="post-content">
                {{ post.content }}
            </div>
        </div>
    </div>
    {% endfor %}


    {% block content %}
    {% endblock content %}

</body>

</html>