{% extends "index.html" %}
{% from "_formhelpers.html" import render_field %}


{% block content %}
<div class="container">

    <form class="form" method=post>
        {{ form.hidden_tag() }}

        <p class="form-login-title">Login</p>

        <div>
            {{ render_field(form.email, class="login-field") }}
            {{ render_field(form.password, class="login-field") }}

            <div class="forgot-password">
                <small><a href="#">Forgot password?</a></small>
            </div>
        </div>

        {{ form.submit(class="login-button") }}
    </form>

    <div class="login-footer">
        <small>Don't have an account? <a href="{{ url_for('signup') }}">Signup</a></small>
    </div>

</div>
{% endblock content %}