<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signup.css">
    <title>Login</title>
</head>

<body>
    <div class="login-container">
        <form class="login-form">
            <p class="form-title">Signup</p>

            <div class="input">
                <label class="email-label" for="email-input">Email</label>
                <input class="email-input" type="text">

                <label class="password-label" for="password-input">Password</label>
                <input class="password-input" type="password">

                <label class="confirm-password-label" for="confirm-password-input">
                    Confirm password
                </label>
                <input class="confirm-password-input" type="password">

            </div>
            <button class="button">Signup</button>
        </form>

        <div class="login-footer">
            <small>Already have an account? <a href="#">Login</a></small>
        </div>
    </div>
</body>

</html>